[submodule "lib/BMP180"]
	path = lib/BMP180
	url = https://github.com/adafruit/Adafruit-BMP085-Library.git
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
[submodule "lib/SimpleDHT"]
	path = lib/SimpleDHT
	url = https://github.com/winlinvip/SimpleDHT.git
[submodule "lib/TFT_ILI9225"]
	path = lib/TFT_ILI9225
	url = https://github.com/Nkawu/TFT_22_ILI9225.git
