[submodule "lib/LiquidCrystal_I2C"]
	path = lib/LiquidCrystal_I2C
	url = https://github.com/fdebrabander/Arduino-LiquidCrystal-I2C-library.git
[submodule "lib/BMP180"]
	path = lib/BMP180
	url = https://github.com/adafruit/Adafruit-BMP085-Library.git
